# Titanic Survival Prediction using Support Vector Machine

In [1]:
import pandas as pd
import numpy as np

data=pd.read_csv('C:/Users/Sahil/Desktop/New folder (2)/Titanic data/train.csv')

data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [2]:
target_columns=['Survived']
train_columns=['Age','Sex','Pclass','Fare']

X=data[train_columns]
Y=data[target_columns]

In [3]:
X['Sex'].isnull().sum()

0

In [4]:
X['Pclass'].isnull().sum()

0

In [5]:
X['Fare'].isnull().sum()

0

In [6]:
X['Age'].isnull().sum()

177

In [7]:
X['Age']=X['Age'].fillna(X['Age'].median())

c:\users\sahil\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [8]:
X['Age'].isnull().sum()

0

In [9]:
d={'male':0,'female':1}
X['Sex']=X['Sex'].apply(lambda x:d[x])
X['Sex'].head()

c:\users\sahil\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

0    0
1    1
2    1
3    1
4    0
Name: Sex, dtype: int64

In [10]:
X.head()

    Age  Sex  Pclass     Fare
0  22.0    0       3   7.2500
1  38.0    1       1  71.2833
2  26.0    1       3   7.9250
3  35.0    1       1  53.1000
4  35.0    0       3   8.0500

In [12]:
from sklearn.model_selection import train_test_split as tts
X_train,X_test,Y_train,Y_test=tts(X,Y,test_size=0.33,random_state=42)

In [13]:
from sklearn import svm
clf=svm.SVC(kernel='linear')
clf.fit(X_train,Y_train)

c:\users\sahil\appdata\local\programs\python\python36\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='linear',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [16]:
print(clf.predict(X_test[0:10]))

[0 0 0 1 1 1 1 0 1 1]

In [19]:
print(clf.score(X_test,Y_test)*100)

79.66101694915254